footer {
    background-color: #ffffff;
    color: var(--text);
    padding: 20px 0;
    text-align: center;
    margin-top: auto;           /* Tai užtikrina, kad footer bus visada apačioje */
    font-family: Playfair Display SC, sans-serif;
  }