header {
    background-color: var(--background);
    color: var(--text);
    padding: 24px 16px 24px 16px;


    @media(min-width:$laptop) {
        padding: 32px 40px 32px 40px;
    }

    @media(min-width:$desktop) {
        padding: 60px 320px 60px 320px;
    }
}

.navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;

    @media(min-width:$laptop) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.logo {
    max-width: 70%;
    padding-left: 20px;
    @media(min-width:$laptop) {
        padding-left: 40px;
        max-width: 70%;
    }
    @media(min-width:$desktop) {
        padding-left: 40px;
        max-width: 35%;
    }
}

.logo-container {
    grid-column: span 4 / span 4;

    @media(min-width:$laptop) {
        grid-column: span 3 / span 3;
    }
}